{% load static %}
<!DOCTYPE html>
    <html>
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Coursetopia!</title>
        {% block redirect%} {% endblock %}
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-left">
                <a href="{% url 'frontend_courses:home' %}">
                    <img src="{% static '/img/logo.webp' %}" alt="Coursetopia logo">
                </a>
            </div>
            <nav class="navbar-right">
                <ul>
                    <li><a href="{% url 'frontend_courses:home' %}">Home</a></li>
                    <li><a href="{% url 'frontend_courses:course_list' %}">Course List</a></li>
                    <li><a href="{% url 'filters:filter' %}">Filter Course</a></li>

                </ul>
            </nav>
        </header>
        
    {% block home %}{% endblock %}
   
    {% block list %}{% endblock %}
    {% block details %}{% endblock %}
    
    </body>
    </html>