{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block details %}
<link rel="stylesheet" href="{% static 'customstyle.css' %}">

<section class="details-section">
  <h1>Course Details</h1>

  {% if course.course_image %}
  <img src="{{ course.course_image }}" alt="{{ course.name }}" class="course-image" width="300" height="200">
  {% else %}
  <p>No image available</p>
  {% endif %}

  {% if course.course_video %}
  <!-- Update the link to include the course ID -->
  <div class="video-button">
    <a href="{% url 'frontend_courses:video_template' course.id %}" class="btn btn-primary">Watch Video</a>
  </div>
  {% else %}
  <p>No video available</p>
  {% endif %}

  <h2>{{ course.name }}</h2>
  <p>{{ course.description }}</p>

  {% if course.is_free %}
  <p>Is Free</p>
  {% else %}
  <p>Cost: {{ course.price }}€</p>
  {% endif %}

  <p>Instructor: {{ course.instructor }}</p>
  <p>Duration: {{ course.duration }}</p>
  <p>Published on: {{ course.published_date }}</p>

  <div class="course-details">
    <!-- Display Comments -->
    <div class="comments-section">
      <h2>Comments</h2>
      <ul>
        {% for comment in comments %}
        <li>
          <span style="font-family: 'Bolt', sans-serif; font-weight: bold;">{{ comment.user}}</span>:
          <span>{{ comment.comment }}</span>
          <span style="font-style: italic;">{{ comment.created_at }}</span>
        </li>
        {% empty %}
        <li>No comments yet.</li>
        {% endfor %}
      </ul>
    </div>

    <div class="ratings-section">
      <h2>Ratings</h2>
      {% if average_rating %}
      <p>{{ average_rating }} stars (rated by {{ total_ratings }} users)</p>
      {% else %}
      <p>No ratings yet.</p>
      {% endif %}
    </div>


    {% if request.user.is_authenticated %}
    <!-- Add a new comment -->
    <h3>Add a comment</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Save">
    </form>

    {% else %}
    <!-- Content for non-authenticated users -->
    <p>Login to comment the course.</p>
    {% endif %}
    <br>
    <p></p>

    {% if request.user.is_authenticated %}
    <div class="admin-actions">
      {% if not request.user.is_staff %}
      <form action="{% url 'accounts:complete_order' course.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Buy now!</button>
      </form>
      {% endif %}
      {% endif %}


      {% if request.user.is_staff %}
      <a class="btn btn-primary" href="{% url 'forms:edit_course' course.id %}">Edit</a>
      <a class="btn btn-primary" href="{% url 'forms:delete_course' course.id %}">Delete</a>
      {% endif %}


      {% endblock details %}