{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" href="{% static 'customstyle.css' %}">

<section class="home-section">
    <h1>Welcome to Coursetopia!</h1>
    <p>Best Selling Courses</p>

    <div class="course-pair">
        <div class="course-block" style="width: 600px;">
            <img src="{% static 'img/p.jpg' %}" alt="Course 1" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">Course 1</h2>
            <p style="font-size: 18px;">Introduction to Python Programming</p>
            <p style="font-size: 16px;">This course provides a comprehensive introduction to Python, one of the most widely used programming languages in the world. You'll learn the basics of Python syntax, data structures, and programming concepts.</p>
        </div>

        <div class="course-block" style="width: 600px;">
            <img src="{% static 'img/dj.jpg' %}" alt="Course 2" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">Course 2</h2>
            <p style="font-size: 18px;">Web Development with Django</p>
            <p style="font-size: 16px;">Learn how to build robust, scalable web applications with Django, a high-level Python web framework. This course covers everything from setting up a development environment to deploying a live application.</p>
        </div>
    </div>

    <div class="course-pair">
        <div class="course-block" style="width: 600px;">
            <img src="{% static 'img/p.jpg' %}" alt="Course 3" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">Course 3</h2>
            <p style="font-size: 18px;">JavaScript for Beginners</p>
            <p style="font-size: 16px;">Start your journey into web development with this introductory course on JavaScript, the programming language of the web. You'll learn how to create interactive websites and dynamic user interfaces.</p>
        </div>

        <div class="course-block" style="width: 600px;">
            <img src="{% static 'img/dj.jpg' %}" alt="Course 4" style="width: 300px; height: 300px;">
            <h2 style="font-size: 24px;">Course 4</h2>
            <p style="font-size: 18px;">Artificial Intelligence and Machine Learning</p>
            <p style="font-size: 16px;">Dive into the world of artificial intelligence and machine learning with this comprehensive course. You'll learn the fundamental concepts and algorithms of AI and ML, and how to apply them to solve real-world problems.</p>
        </div>
    </div>

</section>


</section>
{% endblock %}